<ion-header>
  <ion-toolbar class="titt">
    <ion-title >Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-item class="lab1">
    <ion-label >Marca: </ion-label>
    <ion-input class="inp1" [(ngModel)]="document.data.marca"> </ion-input>
  </ion-item>
  <ion-item class="lab1">
    <ion-label >Modelo: </ion-label>
    <ion-input class="inp1" [(ngModel)]="document.data.modelo"> </ion-input>
  </ion-item>
  <ion-item class="lab2">
    <ion-label >Precio (€): </ion-label>
    <ion-input class="inp2" [(ngModel)]="document.data.precio"> </ion-input>
  </ion-item>
  <ion-item class="lab4">
    <ion-label>Imágen: </ion-label>
    <ion-input class="inp3" [(ngModel)]="document.data.imagen"> </ion-input>
  </ion-item>
  <!-- <ion-input class="inp4" [(ngModel)]="document.data.imagen"> </ion-input>-->
  
  <br>
  <ion-button class="bto1" (click)="clicBotonInsertar()" *ngIf="this.document.id==''"><ion-icon name="add"></ion-icon> &nbsp; Añadir vehículo</ion-button>
  <ion-button class="bto2" (click)="clicBotonBorrar()" *ngIf="this.document.id== this.id"><ion-icon name="trash"></ion-icon> &nbsp; Borrar vehículo</ion-button>
  <ion-button class="bto3" (click)="clicBotonModificar()" *ngIf="this.document.id==this.id"><ion-icon name="construct"></ion-icon> &nbsp; Modificar vehículo</ion-button>

</ion-content>
<ion-toolbar >
  <ion-tabs  >
    <ion-tab-bar class="navbar1" slot="end">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Incio</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="login">
        <ion-icon name="person"></ion-icon>
        <ion-label>Logged</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Acerca de...</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>