@media only screen and (min-width: 0) and (max-width: 8000px){
  ion-content {
    --color: white;
    --background: #202020;
  }
}

.lbl1{
  --color: white;
  --background: #181818;
}

.lbl2{
  --color: white;
  --background: #181818;
}



.tit{
  --color: white;
  --background: #202020;
  font-family: 'Times New Roman', Times, serif;
}

.navbar1{
  --color:white;
  --background:#202020;
}
